<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboardPage.css') }}" />
    <title> Habit Tracker Website! </title>
</head>

<body>
    <div class="navbar">
        <a href="{{ url_for('logout') }}"><button> Log Out! </button></a>
        <a href="{{ url_for('home') }}"><button> Homepage! </button></a>
    </div>
    <h1> Habit Tracker </h1>


    <h2>Welcome, {{ session['username'] }}!</h2>
    <p>This is your personal dashboard where you can view all your habit insights.</p>
    <div class="dashboardlayout">
        <div class="habitTable">


            <table>
                <tr>
                    <th> Habit </th>
                    <th> Habit Description </th>
                    <th> Frequency </th>
                    <th> Difficulty</th>
                </tr>
                <tr>
                    <td> {{habit_name}}</td>
                    <td> {{habit_description}}</td>
                    <td> {{frequency}} </td>
                    <td> {{difficulty}}</td>

                </tr>
            </table>
            <a href="{{url_for('habitPage')}}"> <button id="linkToHabit"> Click here to create a new habit!
                </button></a><br>
        </div>
        <div class="timer">


            <h2>Countdown Timer</h2>

            <label for="timeInput">Enter time in minutes:</label>
            <input type="number" id="timeInput" min="1">
            <button onclick="startTimer()">Start Timer</button>
            <button onclick="stopTimer()"> Stop Timer</button>
            <button onclick="resetPage()"> Reset Timer</button>

            <h2 id="countdownDisplay">00:00</h2>
            <p> You must keep this tab open for the timer to work!
                <script src="static/timer.js"></script>
        </div>
    </div>
</body>

</html>