{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='registerPage.css') }}" />

{% endblock %}
{% block content %}
<h1> Habit Tracker </h1>
<div class="form-container">
   
    <h2>Register</h2>
    <form method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Login Here</a></p>
    {% if get_flashed_messages() %}
    <ul class="flashes">
        {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}